/* StudyMaterials.css */

.study-materials {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.material-card {
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.card-content {
  padding: 10px;
  background-color: #fff;
}

.icon {
  font-size: 1.2rem;
}

.active .card-header {
  background-color: #ff4d4d; /* Red theme primary color */
  color: #fff;
}

.active .icon {
  transform: rotate(45deg);
}

/* StudyMaterialsByCategory.css */

.category-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.accordion {
  border: 1px solid #ccc;
  margin-top: 10px;
}

.accordion-button {
  width: 100%;
  background-color: #ff9999; /* Light red */
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-button.active {
  background-color: #ff6666; /* Slightly darker red */
}

.accordion-panel {
  display: none;
  padding: 10px;
}

.accordion-button.active + .accordion-panel {
  display: block;
}

.study-material-card {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
}

.study-material-card h3 {
  margin: 0;
}

.study-material-download-link {
  display: inline-block;
  margin-top: 10px;
  background-color: #e01212; /* Red theme primary color */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.study-material-download-link:hover {
  background-color: #df3a3a; /* Slightly darker red */
}

.modern-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d61c1c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modern-button:hover {
    background-color: #a70000;
  }
  